/*h1 {color:red}*/

body {
    margin: 0;
    padding: 0;
    font-family:
        "Lucida Grande",
        Helvetica,
        "Helvetica Neue",
        "HelveticaNeue-Light",
        "Helvetica Neue Light",
        Arial,
        sans-serif;
}

#wrapper{
    margin: 0 auto;
    width: 1200px
}

#nav,#content,#supporting{
    margin-top:200px;
}

.container{
    padding: 10px;
}


#banner {
    width: 1200px;
    background-color: royalblue;
    color:white;
    height: 200px;
    clear:both;
    position:fixed;
}
#nav {
    width: 200px;
    background-color: beige;
    height: 500px;
    float: left;
}
#content {
    width: 800px;
    background-color: cornsilk;
    float: left;    
}
#supporting {
    width: 200px;
    background-color:aliceblue;
    height: 500px;
    float: left;
}
#footer {
    width: 1200px;
    background-color:grey;
    color:white;
    clear:both;
}

#nav li{
    display:block;
    background-color: coral;
    padding: 2px;
    margin: 5px;
    text-align: center;
    box-shadow: 1px 1px 3px 1px rosybrown(0,0,0,0.5);
    border: 2px solid white
    border-radius: 20%;
}

#nav li:hover{
    background-color: hotpink;
}

#nav ul{
    padding-left:0px;
}

#nav li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

#nav li a:hover{
    color:black;
    text-decoration:none;
    font-weight:bold;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;

  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }