.jumbotron {
    background-image: url("https://live.staticflickr.com/65535/48645510198_c7f58ffb93_b.jpg");
    color: #fff;
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    height:50vh;
}